
.team-chat {
  height: 100%;
  border: 1px solid black;
  grid-row: 1 / 3;
  grid-column: 3 / 4;
  display: grid;
  grid-template-rows: 92% 8%;
}

.messages-container {
  height: 100%;
  overflow: scroll;
  display: block;
}

.current-user-msg {
  margin-left: auto;
  margin-right: 0.2em;
}

.team-msg {
  margin-left: 0.2em
}

.message {
  background-color: #f7e9b4;
  width:max-content;
  line-height: 2em;
}

.message p {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.5em;
}

.message b {
  font-weight:900;
}

.alert {
  border: 0.2em solid blue;
  text-align: center;
  margin: 0.2em;
  font-family: 'Underdog', cursive;
  padding-left: 1em;
  padding-right: 1em;
}

.new-message-form{
  height: 100%;
}

.new-message-form input {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 99%;
  font-size: 2em;
}
.new-message-form input.submit {
  -webkit-appearance: none;
  width: 100%;
  font-size: 2em;
}
